body{
    background: #36393e;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

footer{
  text-align: center;
  padding: 3px;
  background-color: white;
  color: black;
}
