body{
    background: #36393e;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

footer{
    background: #0000FF;
    display: block;
    text-align: center;
    padding: 3px;
}
